.heading tr{
    display: flex;
   justify-content: center;
   align-items: center;
    padding: 19px 0px;
    border-bottom: solid 2px #e7d3d3;
}

.heading tr td{
    display: flex;
    width: 16%;
    padding: 19px 0px;
    justify-content: center;
    align-items: center;
  
}
.coupon{
    margin-top: 70px;
}
.coupon .row{
    display: flex;
    justify-content: end;
    align-items: center;
}
.couponForm input{
padding: 10px;
border: none;
border-radius: 10px;
outline: solid 1px #81c408;
}
.couponForm button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #81c408;
    margin-left: 50px;
    border-radius: 100px;
}
.cart-total{
    width: 500px;
    padding: 30px;
background-color: #f4f6f8;
}
.subtotal,.shipping,.total{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 17px;
    margin-top: 10px;
}
.total{
    margin-top: 10px;
    border-bottom: solid 1px #81c408;
    border-top: solid 1px #999b95;
}
.proceed{
    margin-top: 50px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #81c408;
    outline: solid 1px #81c408;
    border: solid 1px #81c408;
}
.img-container{
    border: none;
    border-radius: 50%;
}
 
.emptycard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.emptycard div img{
    height: 300px;
}
.emptycard >div {
    border: solid 1px #9dd2d8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 20px;
    gap: 40px;
    padding: 17px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
}
.emptcrtbtn{
    padding: 15px 75px;
    font-size: 20px;
    border: none;
    color: #ffff;
    background-color: red;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: monospace;

}
.emptcrt-text{
    font-size: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    justify-content: center;
    align-items: center;
}
.emptcrt-text h5{
    font-size: 40px;   
    font-weight: 800; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emptcrt-text h5 span{
    color: #f02d0b;
}

@media only screen and (max-width: 600px) {
    .emptycard div img {
        height: 143px;
    }
    .emptycard >div {
        width: 100%;
    }
    .emptcrt-text h5 {
        font-size: 30px;
        font-weight: 600;
    }
    .emptcrt-text {
        text-align: center;
    }
    .emptcrtbtn {
        padding: 14px 58px;
        font-size: 17px;
    }
}