.products-items{
    border: solid 1px mediumspringgreen;
    border-radius: 20px;
}
.products-items h4, .products-items p,.products-items div{
    padding: 6px 2px 5px 17px;
}
.products-items h4{
    font-weight: 500;
    font-size: 26px;
}
.products-items img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.products-price button{
    padding: 10px 33px;
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #97af10;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}
.products-price span{
    font-weight: 700;
    font-size: 20px;
}