.search-icon{
    background-color: darkgray;
    width: 328px;
    border-radius: 9px;
    margin-top: 20px;

}
.search-icon input{
    padding: 17px 48px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none !important;
    border: solid 1px  #a0a3a5 !important;
}
.search-icon .svg-inline--fa{
  font-size: 24px;
  margin-left: 9px;
}
.sort-section{

    display: flex;
    background-color:#f4f6f8 !important;
    width: 320px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}
.sort-section select{
    background-color:#f4f6f8 !important;
    outline: none !important;
    border: none !important;
  

 }
 .sort-section select option{
    background-color: #f4f6f8 !important;
    outline: none !important;
    border: none !important;
 }
 .sort-main{
    justify-content: end;
    display: flex;
    padding: 10px;
 }
 .shopage{
    margin-top: 65px;
 }
 .col-lg-4 ,.col-lg-9{
    height: fit-content !important;
    margin-bottom: 20px;
    margin-top: 20px;
 }